{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage", // "entry" or "usage"
        "corejs": 3, // Specify the version of core-js
        "targets": {
          "node": "0.10", // or specify your target environment
          "browsers": ["> 0.25%, not dead"] // Specify your target browsers
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "sourceMaps": "inline" // Enable inline source maps
}
